.habit-card {
  min-width: 10vw;
  width: 80vw;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  /* margin-top: 5vh; */
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

#category {
  display: flex;
  text-align: left;
  font-size: small;
  background-color: #B298DC;
  color: aliceblue;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 20px 20px 0 0;
}