.habit-card:hover {
  background-color: #b298dc43;
  color: #45157c;
  transition: all 0.5s;
  transform: scale(105%);
}

#category {
  display: flex;
  text-align: left;
  font-size: small;
  background-color: #B298DC;
  color: aliceblue;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 20px 20px 0 0;
}

.habit-card:active {
  transform: scale(.80);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
  padding: 3px;
}

