.habit-card {
  min-width: 10vw;
  width: 80vw;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.habit-card:hover {
  background-color: #b298dc43;
  color: #45157c;
  transition: all 0.5s;
}

#category {
  display: flex;
  text-align: left;
  font-size: small;
  background-color: #B298DC;
  color: aliceblue;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 20px 20px 0 0;
}

.habit-card:active {
  transform: scale(.80);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
  padding: 3px;
}