p {
  width: 50vw; 
  text-align: justify;
}

img {
  border-radius: 50%;
  border: 2px solid #6F2DBD;
}

.links{
  display: flex;
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: #B298DC;
  margin-top: 20px;
  border-radius: 20px;
}

.links:hover{
  background-color: #6f2dbd;
  cursor: pointer;
  border: 2px solid aliceblue;
}

.links a:hover{
  color: aliceblue;
}

.links > a {
  width: 200px;
  height: 100px;
  padding-top: 40px;
}
