p {
  width: 50vw; 
  text-align: justify;
}

img {
  border-radius: 50%;
  border: 2px solid aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.links{
  display: flex;
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: #c8abf8;
  margin-top: 20px;
  border-radius: 20px;
}

.links:hover{
  background-color: #6f2dbd;
  cursor: pointer;
  border: 2px solid aliceblue;
  transition: all 0.5s;
}

.links a:hover{
  color: aliceblue;
  transition: all 0.5s;
}

.links > a {
  width: 200px;
  height: 100px;
  padding-top: 40px;
}
