p {
  width: 50vw; 
  text-align: justify;
}

img {
  border-radius: 50%;
  border: 2px solid aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



.links:hover{
  background-color: #6f2dbd;
  cursor: pointer;
  border: 2px solid aliceblue;
  transform: scale(110%);
  transition: transform 0.5s;
}

.links a:hover{
  color: aliceblue;
  transition: all 0.5s;
}

.links > a {
  width: 200px;
  height: 100px;
  padding-top: 40px;
}

.links:active {
  transform: scale(.80);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
