.content-card{
  min-width: 10vw;
  width: 80vw;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
}

.content-card button {
  align-self: center;
}

p {
  text-align: center;
}

.q-btn {
  display:flex;
  justify-content: end;
}

svg {
  height: 2em;
  width: 2em;
  color: #8556d0;
}

.btn {
  border-radius: 50%;
  border: none;
  padding: 0;
  height: 2em;
  width: 2em;
}

.btn {
  background-color: none;
}

.btn {
  border: none;
  outline: none;
  background-color: none;
}

.popover-header, 
.popover-body {
  font-family: "Theano";
}

