@font-face {
  font-family: "CantataOne";
  src: url(../assets/CantataOne-Regular.ttf);
}

@font-face {
  font-family: "Theano";
  src: url(../assets/TheanoOldStyle-Regular.ttf);
}

html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #B8D0EB;
  color: #6F2DBD;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: "Theano", Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

nav {
  background-color: #B298DC;
  color: #6F2DBD;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 7px;
}


h1 {
  font-family: "CantataOne", Georgia, 'Times New Roman', Times, serif;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  margin: 1rem;
}

p {
  margin-top: 1em;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav > div {
  margin-left: auto;
}

a, a:visited {
  color: #6F2DBD;
  text-decoration: none;
}

nav a:hover, i:hover {
  text-decoration: none;
  color: aliceblue;
  transition: all 0.5s;
  transform: scale(130%);
}

a:hover {
  text-decoration: none;
}

a, i {
  transition: all 0.5s;
}

.fa-clipboard-list, .fa-plus {
  margin-right: 10px;
}

.content-card{
  min-width: 10vw;
  width: 80vw;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
}

.content-card button {
  align-self: center;
}

form > * {
  margin: 15px;
}


#dot-box{
  display: flex;
  background-color: aliceblue;
  flex-wrap: wrap;
}

.complete-dot {
  display: flex;
  background-color: #A98ED6;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  margin: 5px;
}

textarea {
  padding: 10px;
  border: 0;
  margin: 0;
  font-family: inherit;
  background-color: #c8acf581;
  border-radius: 5px 5px;
  width: 90%;
  box-shadow: #0000003d 0px 2px 30px, #0000003d 0px 2px 10px;
  transition: 0.5s;
}


textarea:focus {
  outline: #b298dc81;
  background-color: #c2a6ef81;
  outline: none;
  transition: all 0.5s;
  box-shadow: inset #0000003d 0px 2px 60px, inset #0000003d 0px 2px 30px;
}

.content-card, 
.habit-card,
.links {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 11px;
  max-width: 40vw;
  margin: 0 0 1em 0;
}

select {
  background-color: #c2a6ef81;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 11px;
  margin: 1em;
  flex-grow: 2;
  border: none;
  padding: 10px 5px;
}

select:focus {
  box-shadow: inset #0000003d 0px 6px 11px;
}

.select {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.textarea {
  display: flex;
  align-items: center;
}

textarea {
  margin: 1em;
  height: 3em;
  padding: 10px 5px;
}

button {
  border: 0;
  box-shadow: #0000003d 0 5px 11px, #0000003d 0 3px 8px;
  border-radius: 5px;

}

button:hover {
  cursor: pointer;
  transform: scale(130%);
  transition: transform 0.5s;
}

button:active {
  transform: scale(.80);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}